[package]
name = "tokio-text"
version = "0.0.1-dev"
authors = ["Mikhail Zabaluev <mikhail.zabaluev@gmail.com>"]
edition = "2018"

[dependencies]
strchunk = { git = "https://github.com/mzabaluev/strchunk.git" }
bytes = "0.4"
futures = "0.1"
iovec = "0.1"
tokio-io = "0.1"
